@font-face {
  font-family: 'icons';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
}