* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100px;
  height: 100vh;
  font-family: 'agency fb';
  background: url('../img/reindeer.png') 50% 50%/cover no-repeat;
  overflow: hidden;
}
.nav {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  flex: 0 0 50%;
  background: #ffeb00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2;
}
.logo span {
  font-size: 60px;
  line-height: 1;
}

.menu-links {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: right;
  padding-top: 50px;
}
.menu-links ul {
  width: 100%;
}
.menu-links li {
  padding: 10px;
  color: #494949;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s ease-out;
}
.menu-links li:hover {
  background: #494949;
  color: #ffffff;
}
.scrolldown {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
}
.scrolldown::before {
  display: inline-block;
  content: '';
  border-top: 1px solid #000000;
  width: 65px;
  margin: 0 10px 0 0;
  transform: translateY(10px);
}

.text {
  position: absolute;
  top: 25%;
  right: 180px;
  transform: translateY(-50%);
  text-align: right;
  color: #494949;
}
.text .title {
  font-size: 150px;
}
.watchnow {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  background: #ffeb00;
  padding: 18px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watchnow a {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid #000000;
  padding-bottom: 5px;
}
.fa-play {
  color: #ffffff;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.media {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.media ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.media li {
  font-size: 20px;
  color: #494949;
  cursor: pointer;
  border-radius: 50%;
}
.media li:hover {
  background: #ffeb00;
}